#web_bg {
    /* 背景图像的地址（url括号里）  */
    background: url(https://s2.loli.net/2022/12/18/HjMsRwtrDbfVxo3.jpg);
    /* 背景图像不重复 */
    background-repeat: no-repeat;
    /* 背景图像大小 */
    background-size: cover;
  }